//  Colors
$background-cmain: #f7aae5 !default;
$background-c2: #95d4f7 !default;
$background-c3: #b2dfdb !default;
$background-c4: #3db6f7 !default;
$textcolor-headline: #551a8b !default;
$textcolor-soft: #222 !default;
$textcolor-sharp: #333 !default;

// Font styles
$font-headline: 'Lato', sans-serif !default;
$font: 'Nunito-sans', sans-serif !default;
