//  Colors
$background-cmain: #f7aae5;
$background-c2: #95d4f7;
$background-c3: #b2dfdb;
$background-c4: #3db6f7;
$textcolor-headline: #551a8b;
$textcolor-soft: #222;
$textcolor-sharp: #333;

// Font styles
$font-headline: 'Lato', sans-serif;
$font: 'Nunito-sans', sans-serif;
