@use 'variables' as *;

.landingpage 
.gallery {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  padding: 1em;
  max-width: 100%;
}

.box {
  justify-self: center;
}
  
.box a {
  color: $textcolor-headline;
  font-weight: bolder;
  
  &:visited {
    color: $textcolor-headline;
  }
  
  &:hover {
    color: $textcolor-soft;
  }
}

.treegallery {
  text-align: center;
}

@media (min-width: 768px) {
  .landingpage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
  }
  
  .landingpage h1 {
    grid-column: span 3;
    font-size: 3em;
    justify-self: center;
  }
  
  .box {
    font-size: 2em;
  }
  
  .sqlite {
    grid-column: span 3;
  }
}

@media (min-width: 1024px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em; 
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  margin-top: 1em;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
